<!DOCTYPE html>
<html>
<head>
  <title>ServiceScheduler</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "translations" %>
</head>
<body ng-app="ServiceScheduler" data-ng-app-component>

<%= yield %>

</body>
</html>
